{"host_name":"localhost.localdomain","host_ip":"10.66.6.91","time":"2026-07-01T17:58:01+08:00","event_type":"exec","listener_port":80,"listener_process":"nginx","listener_pid":1234,"pid":5678,"ppid":1234,"exe":"/bin/bash","command":["sh","-c","id"],"command_line":"sh -c id","cwd":"/var/www/html","tty":"(none)","has_tty":false,"auid_name":"unset","key":"tb_external_listener_exec"}
{"host_name":"localhost.localdomain","host_ip":"10.66.6.91","time":"2026-07-01T17:59:58+08:00","event_type":"exec","listener_port":80,"listener_process":"nginx","listener_pid":1234,"pid":5680,"ppid":1234,"exe":"/bin/bash","command":["sh","-c","cat /etc/shadow 2>&1"],"command_line":"sh -c cat /etc/shadow 2>&1","cwd":"/var/www/html","tty":"(none)","has_tty":false,"auid_name":"unset","key":"tb_external_listener_exec"}
